/* body{
    margin: 0;
    padding: 0%;
} */
.form {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.product img {
    height: 150px;
    width: 150px;
}

.product {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
}
.myForm input{
    width: 100px;
}